@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "VazirmatnL";
    src: url(./assets/fonts/ttf/Vazirmatn-FD-Light.ttf);
}
@font-face {
    font-family: "VazirmatnB";
    src: url(./assets/fonts/ttf/Vazirmatn-FD-Bold.ttf);
}



